@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 0px 30px;
    padding-left: 10px;
}
.nav{
    width: 77%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-left: 100px;
    gap: 40px;
}
.nav p a:hover{
    background-color: rgb(27,71,123);
    transition: .7s;
    color: white;
    border-radius: 30px;
}
.nav a{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: black;
    font-weight: 100;
    padding: 13px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.logopic{
    width: 100px;
}
.hero{
    background-image: url(surgery-1807541.jpg);
    background-size: cover;
    height: 83vh;
}
.herohead{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    line-height: 50px;
}
.herohead h1{
    text-align: center;
    color: white;
    font-weight: 200;
    width: 50vw;
    font-size: 35px;
    padding-bottom: 25px;
}
.herohead a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    background-color: rgb(27,71,123);
    font-weight: 200;
}
.herohead p:hover{
    transform: scale(1.05);
    transition: .5s;
}
.body{
    height: max-content;
    padding: 30px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.abovesec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.secs{
    height: 432px;
    box-shadow: 0px 0px 5px whitesmoke;
    border-radius: 10px;
}
.secs:hover{
    transform: scale(1.02);
    transition: .5s;
}
.secs img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.secs h2{
    padding-left:10px;
    margin-bottom: 40px;
    font-weight: 700;
    color: rgb(27, 71, 123);
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.secs p{
    color: rgb(85, 85, 85);
    padding-left: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.secs a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 12px;
    background-color: rgb(27, 71, 123);
    border-radius: 5px;
}
.med{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}
.meds{
    display: flex;
    padding: 20px;
    gap: 20px;
    margin: 20px;
}
.mid{
    height: max-content;
}
.topmed img{
    width: 400px;
}
.lowmed{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowmed a{
    font-size: 19px;
    color: blue;
    font-weight: 300;
    text-decoration: none;
}
.page-content{
    background-color: white;
    width: 800px;
    margin: 0px 300px;
    height: 100vh;
    border: 1px solid antiquewhite;
    border-radius: 0.3125rem;
}
.page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-blend-mode: darken;
}
.page input{
    color: black;
    outline: none;
}
button{
    color: black;
}
.loginpage{
    box-shadow: 0px 0px 5px 3px whitesmoke;
    padding:10px 30px;
    display: flex;
    gap: 50vw;
}
.loginpage h2{
    color: black;
    font-size: 24.9px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.loginpage a{
    color: rgb(180,180,180);
    text-decoration: none;
    padding: 0px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 0.3125rem;
    font-family: 'Roboto', sans-serif;
}
.midsec{
    padding-left: 30px;
}
.midsec p{
    color: black;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}
.midsec input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 65%;
    padding: 10px;
}
.belowmid p a{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.belowmid input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 65%;
    padding: 10px;
}
.belowmid{
    padding-left: 30px;
}
.belowmid p{
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}
.pwd{
    display: flex;
    width: 100%;
    gap: 50%;
}
button{
    position: relative;
    top: 20px;
    width: 65%;
    padding:10px;
    background-color:rgb(51,178,123);
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-radius: 0.3125rem;
}
.bottom{
    width: 100%;
}
.bottom p{
    color: rgb(155, 155, 155);
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 2px;
    margin: 0px auto;
    background-color: rgb(243,243, 243);
    border-radius: 50%;
    width: max-content;
    text-align: center;
    position: relative;
    top: 50px;
}
.bottom hr{
    max-width: 798px;
    height: 1px;
    position: relative;
    top: 38px;
    color: rgb(243,243, 243);
}
.blogin{
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    padding-top: 230px;
}
.blogin h5{
    color: rgb(188,52,120);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 100px;
    font-weight: 700;
    font-size: 16px;
}
.loginimgs{
    margin-top: 70px;
    padding-left: 30px;
    display: flex;
    gap: 20px;
}
.logimg{
    border: 1px solid blue;
    height: 40px;
    border-radius: 0.3125rem;
}
.hsec{
    display: flex;
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 0px 5px rgb(230, 230, 230);
    height: 10vh;
    gap: 10px;
}
.yoyo{
    margin-left: 250px;
}
.lsec{
    display: flex;
    gap: 250px;
    justify-content: center;
    height: 50vh;
    background-color: snow;
}
.sleep{
    margin-top: 20px;
}
.sleep h6{
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.sleep p{
    color: black;
    font-family: 'Roboto';
    font-size: 19px;
    line-height: 40px;
}
.copyright{
    height: 10vh;
    padding: 30px 0px 30px 550px;
    padding-bottom: 50px;
}
.copyright p{
    color: gray;
    font-size: 19px;
}
.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    padding: 30px;
    gap: 30px;
    padding-left: 6vw;
    background-color: rgb(246, 246, 246);
}
.card{
    display: flex;
    width: 350px;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
}
.card h2{
    font-size: 3vw;
    color: rgb(0,86,136);
}
.card:nth-child(2) h2{
    color: rgb(0,123,194);
}
.card:nth-child(3) h2{
    color: rgb(36,156,61);
}
.card p{
    font-size: 19px;
    line-height: 32px;
    padding-bottom: 30px;
    border-bottom: 5px solid green;
}
.card a{
    font-size: 19px;
    text-decoration: none;
}
.card img{
    height: 60px;
    width: 60px;
}
.what-we-do{
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:rgb(27,71,123);
}
.what-we-do_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding-top: 40px;
    padding-left: 50px;
}
.what-we-do_text h2{
    font-size: 40px;
    padding-left: 0;
    padding-right: 400px;
}
.what-we-do_text p, .what-we-do_text a{
    font-size: 20px;
    line-height: 34px;
    color: white;
    text-decoration: none;
}
.what-we-do_text p{
    padding-right: 60px;
}
.what-we-do_text h1{
    padding-right: 300px;
    padding-left: 0;
}
.what-we-do_text a{
    padding: 10px;
    width: max-content;
    border: 2px solid white;
}
.what-we-do img{
    width: 100%;
    height: 100%;
}
.invisible{
    opacity: 0;
}
@media only screen and (max-width:868px){
    .page-content{
        width: 100%;
        border: none;
    }
    .loginpage{
        box-shadow: none;
    }
}
@media only screen and (max-width:720px){
    .page input, button{
        width: 90%;
    }
    .page-content{
        height: 100%;
        width: 100%;
    }
    .loginimgs img{
        width: 170px;
    }
    .blogin{
        width: 100%;
        justify-content: center;
    }
    .blogin h5{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

}
@media only screen and (max-width:540px){
    .top{
        padding-left: 0;
        justify-content: flex-start;
        align-items: center;
    }
    .logo h1{
        display: none;
    }
    .nav{
        padding-top: 0;
    }
    .nav p{
        display: none;
    }
    .hero{
        height: 280px;
        background-image: none;
        background-color: rgb(27, 71, 123);
    }
    .menu{
        font-size: 50px;
    }
    .herohead h1{
        font-weight: 700;
        width: 100%;
        padding-bottom: 10px;
    }
    .herohead a{
        background-color: green;
    }
    .abovesec{
        flex-direction: column;
        padding: 0px 35px;
    }
    .what-we-do{
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .what-we-do_text{
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .what-we-do_text h2{
        font-size: 30px;
        padding: 0;
    }
    .meds{
        flex-direction: column;
    }
    .topmed img{
        width: 100%;
    }
    .med{
        width: 340px;
    }
    .what-we-do_text h1{
        padding: 0;
    }
    .section{
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 40px;
    }
    .card{
        width: 100%;
    }
    .lsec{
        height: max-content;
        display: grid;
        padding-bottom: 30px;
        gap: 10px;
        padding-left: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .copyright{
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown{
        display: none;
        position: fixed;
        top: 0;
        z-index: 1000;
        height: 100vh;
        background-color: white;
        bottom: 0;
        width: 100%;
        flex-direction: column;
    }
    .dropdown_content{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 40px;
    }
    .dropdown_content a{
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
}